// Place all the styles related to the Animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row{
  align-items: center;
}

.button{
  margin-top: 30px;
}

.titulo{
  text-align: center;
  margin-top: 20px;
  font-size: 13;
}


.form-group{
  margin-top: 50px;
}
